<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="erp.chain.mapper.o2o.CardToVipMapper" >
  <select id="listCardToVip" parameterType="map" resultType="erp.chain.domain.o2o.CardToVip">
      select * from card_to_vip
      <where>
          is_deleted = 0
          <if test="tenantId != null">
              AND tenant_id = ${tenantId}
          </if>
          <if test="vipId != null">
              AND vip_id = #{vipId}
          </if>
          <if test="cardCode != null">
              AND card_code = #{cardCode}
          </if>
          <if test="cardId != null">
              AND card_coupons_id = #{cardId}
          </if>
          <if test="festivalId != null">
              AND festival_id = #{festivalId}
          </if>
          <if test="cardType != null">
              AND card_type = #{cardType}
          </if>
          <if test="useStatus != null">
              AND use_status = #{useStatus}
          </if>
          <if test="id != null">
              AND id = #{id}
          </if>
          <if test="limitValue != null">
              AND (limit_value IS NULL OR limit_value &lt;=#{limitValue} )
          </if>
          <if test="useDate != null">
              AND (release_date IS NULL OR release_date &lt;= '${useDate}')
              AND ((start_time IS NULL AND end_time IS NULL) OR (start_time &lt;='${useDate}' AND end_time &gt;='${useDate}'))
          </if>
          <if test="sendDate != null">
              AND create_at &gt;= '${sendDate} 00:00:00'
              AND create_at &lt;= '${sendDate} 23:59:59'
          </if>
      </where>
      ORDER BY create_at DESC
      <if test="offset != null and rows!=null">
          LIMIT ${offset},${rows}
      </if>
  </select>
    <select id="getVipCardByCode" resultType="erp.chain.domain.o2o.CardToVip">
        select * from card_to_vip
        WHERE tenant_id=${tenantId}
        AND is_deleted=0
        AND card_code=#{cardCode} limit 1
    </select>
  <insert id="insert" parameterType="CardToVip" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Nov 04 15:05:01 CST 2016.
    -->
    insert into card_to_vip (id, tenant_id,vip_id,card_coupons_id,festival_id,
    card_name, card_type, use_status,limit_value,face_value,week,
--     gift_goods_id,gift_num,gift_goods_name,gift_goods_photo,
    start_time,end_time,
    period_of_validity,color_value,card_code,
    create_by, create_at,
    last_update_by, last_update_at, is_deleted,discount)
    values (#{id,jdbcType=INTEGER}, #{tenantId,jdbcType=BIGINT},#{vipId,jdbcType=BIGINT},#{cardCouponsId,jdbcType=BIGINT},#{festivalId,jdbcType=BIGINT},
    #{cardName,jdbcType=VARCHAR},#{cardType,jdbcType=TINYINT},#{useStatus,jdbcType=VARCHAR},#{limitValue,jdbcType=DECIMAL},#{faceValue,jdbcType=DECIMAL},#{week,jdbcType=VARCHAR},
    #{startTime,jdbcType=TIMESTAMP},#{endTime,jdbcType=TIMESTAMP},
    #{periodOfValidity,jdbcType=BIGINT},#{colorValue,jdbcType=VARCHAR},#{cardCode,jdbcType=VARCHAR},
    #{createBy,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR},#{lastUpdateAt,jdbcType=TIMESTAMP},
    #{isDeleted,jdbcType=BIT},#{discount,jdbcType=DECIMAL})
  </insert>
    <insert id="insertList">
        insert into card_to_vip (id, tenant_id,vip_id,card_coupons_id,festival_id,
    card_name, card_type, use_status,limit_value,face_value,week,
    start_time,end_time,
    period_of_validity,color_value,card_code,
    create_by, create_at,
    last_update_by, last_update_at, is_deleted,discount,release_date)
    values
        <foreach collection="cardToVips" item="cardToVip" separator=",">
            (#{cardToVip.id,jdbcType=INTEGER}, #{cardToVip.tenantId,jdbcType=BIGINT},#{cardToVip.vipId,jdbcType=BIGINT},#{cardToVip.cardCouponsId,jdbcType=BIGINT},#{cardToVip.festivalId,jdbcType=BIGINT},
            #{cardToVip.cardName,jdbcType=VARCHAR},#{cardToVip.cardType,jdbcType=TINYINT},#{cardToVip.useStatus,jdbcType=VARCHAR},#{cardToVip.limitValue,jdbcType=DECIMAL},#{cardToVip.faceValue,jdbcType=DECIMAL},#{cardToVip.week,jdbcType=VARCHAR},
            #{cardToVip.startTime,jdbcType=TIMESTAMP},#{cardToVip.endTime,jdbcType=TIMESTAMP},
            #{cardToVip.periodOfValidity,jdbcType=BIGINT},#{cardToVip.colorValue,jdbcType=VARCHAR},#{cardToVip.cardCode,jdbcType=VARCHAR},
            #{cardToVip.createBy,jdbcType=VARCHAR}, #{cardToVip.createAt,jdbcType=TIMESTAMP}, #{cardToVip.lastUpdateBy,jdbcType=VARCHAR},#{cardToVip.lastUpdateAt,jdbcType=TIMESTAMP},
            #{cardToVip.isDeleted,jdbcType=BIT},#{cardToVip.discount,jdbcType=DECIMAL},#{cardToVip.releaseDate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <update id="update" parameterType="CardToVip" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update card_to_vip
        <set >
            <if test="useStatus != null" >
                use_status = #{useStatus,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null" >
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP}
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>