<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="erp.chain.mapper.o2o.DietOrderInfoMapper" >
    <insert id="insert" parameterType="DietOrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into diet_order_info (id, tenant_id, branch_id,
        branch_name, order_mode, order_code,
        vip_id, order_status, eat_status,
        pay_status, total_amount, received_amount,
        use_score, amount, is_use_privilege,
        pay_at, create_score, eat_people,
        appointment_date, consignee, mobile_phone,
        allocation_date, arrive_date, remark,
        is_free_of_charge, pos_code, cashier,
        table_open_at, is_refund, create_at,
        create_by, last_update_at, last_update_by,
        is_deleted, vip_address_id, vip_address_name,
        pay_way, order_resource, vip_openid,
        score_pay, session_str, card_value,meituan_day_seq,
        table_code, used_card_id, version,
        local_id, deliver_fee, package_fee, eleme_order_status,
        dispatcher_name,dispatcher_mobile,income,discount_amount
        )
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{branchId,jdbcType=BIGINT},
        #{branchName,jdbcType=VARCHAR}, #{orderMode,jdbcType=BIGINT}, #{orderCode,jdbcType=VARCHAR},
        #{vipId,jdbcType=BIGINT}, #{orderStatus,jdbcType=BIGINT}, #{eatStatus,jdbcType=BIGINT},
        #{payStatus,jdbcType=BIGINT},#{totalAmount,jdbcType=DECIMAL},#{receivedAmount,jdbcType=DECIMAL},
        #{useScore,jdbcType=BIGINT},#{amount,jdbcType=BIGINT},#{isUsePrivilege,jdbcType=TINYINT},
        #{payAt,jdbcType=TIMESTAMP}, #{createScore,jdbcType=BIGINT}, #{eatPeople,jdbcType=BIGINT},
        #{appointmentDate,jdbcType=TIMESTAMP},#{consignee,jdbcType=VARCHAR},#{mobilePhone,jdbcType=VARCHAR},
        #{allocationDate,jdbcType=TIMESTAMP},#{arriveDate,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR},
        #{isFreeOfCharge,jdbcType=TINYINT},#{posCode,jdbcType=VARCHAR},#{cashier,jdbcType=VARCHAR},
        #{tableOpenAt,jdbcType=TIMESTAMP},#{isFreeOfCharge,jdbcType=TINYINT},#{createAt,jdbcType=TIMESTAMP},
        #{createBy,jdbcType=VARCHAR},#{lastUpdateAt,jdbcType=TIMESTAMP},#{lastUpdateBy,jdbcType=VARCHAR},
        #{isDeleted,jdbcType=BIT},#{vipAddressId,jdbcType=BIGINT},#{vipAddressName,jdbcType=VARCHAR},
        #{payWay,jdbcType=TINYINT},#{orderResource,jdbcType=BIGINT},#{vipOpenid,jdbcType=VARCHAR},
        #{scorePay,jdbcType=DECIMAL},#{sessionStr,jdbcType=VARCHAR},#{cardValue,jdbcType=DECIMAL},#{meituanDaySeq,jdbcType=VARCHAR},
        #{tableCode,jdbcType=VARCHAR},#{usedCardId,jdbcType=BIGINT},#{version,jdbcType=BIGINT},
        #{localId,jdbcType=BIGINT}, #{deliverFee, jdbcType=DECIMAL}, #{packageFee, jdbcType=DECIMAL}, #{elemeOrderStatus, jdbcType=TINYINT},
        #{dispatcherName,jdbcType=VARCHAR},#{dispatcherMobile,jdbcType=VARCHAR},#{income,jdbcType=DECIMAL},#{discountAmount, jdbcType=DECIMAL}
        )
    </insert>

    <update id="update" parameterType="DietOrderInfo" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        UPDATE diet_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="vipId != null" >
                vip_Id = #{vipId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null" >
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="payAt != null" >
                pay_at = #{payAt,jdbcType=TIMESTAMP},
            </if>
            <if test="branchId != null" >
                branch_id = #{branchId,jdbcType=BIGINT},
            </if>
            <if test="orderStatus != null" >
                order_status = #{orderStatus,jdbcType=BIGINT},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="payStatus != null and payStatus != ''">
                pay_status = #{payStatus,jdbcType=BIGINT},
            </if>
            <if test="usedCardId != null and usedCardId != ''">
                used_card_id = #{usedCardId,jdbcType=BIGINT},
            </if>
            <if test="consignee != null" >
                consignee = #{consignee,jdbcType=VARCHAR},
            </if>
            <if test="mobilePhone != null" >
                mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
            </if>
            <if test="vipAddressName != null" >
                vip_address_name = #{vipAddressName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="appointmentDate != null" >
                appointment_date = #{appointmentDate,jdbcType=TIMESTAMP},
            </if>
            <if test="totalAmount != null" >
                total_amount = #{totalAmount,jdbcType=TIMESTAMP},
            </if>
            <if test="amount != null" >
                amount = #{amount,jdbcType=TIMESTAMP},
            </if>
            <if test="receivedAmount != null" >
                received_amount = #{receivedAmount,jdbcType=TIMESTAMP},
            </if>
            <if test="allocationDate != null" >
                allocation_date = #{allocationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null" >
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null" >
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="localId != null" >
                local_id = #{localId,jdbcType=BIGINT},
            </if>
            <if test="deliverFee != null">
                deliver_fee = #{deliverFee, jdbcType=DECIMAL},
            </if>
            <if test="packageFee != null">
                package_fee = #{packageFee, jdbcType=DECIMAL},
            </if>
            <if test="elemeOrderStatus != null">
                eleme_order_status = #{elemeOrderStatus, jdbcType=TINYINT},
            </if>
            <if test="meituanRefundReason != null" >
                meituan_refund_reason = #{meituanRefundReason,jdbcType=VARCHAR},
            </if>
            <if test="dispatcherName != null" >
                dispatcher_name = #{dispatcherName,jdbcType=VARCHAR},
            </if>
            <if test="dispatcherMobile != null" >
                dispatcher_mobile = #{dispatcherMobile,jdbcType=VARCHAR},
            </if>
            <if test="income != null">
                income = #{income,jdbcType=DECIMAL},
            </if>
            <if test="isRefund != null">
                is_refund = #{isRefund,jdbcType=BIT},
            </if>
            <if test="discountAmount != null">
                discount_amount = #{discountAmount, jdbcType=DECIMAL},
            </if>
            <if test="confirmOrderSource != null">
                confirm_order_source = #{confirmOrderSource, jdbcType=TINYINT},
            </if>
            <if test="paidType != null">
                paid_type = #{paidType, jdbcType=TINYINT},
            </if>
            <if test="payOrderCode != null">
                pay_order_code = #{payOrderCode, jdbcType=VARCHAR},
            </if>
            <if test="refundNo != null">
                refund_no = #{refundNo, jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
    <select id="sumTotalAmount" resultType="BigDecimal">
        select IFNULL(SUM(IFNULL(received_amount,0)),0) from diet_order_info
        <where>
            is_deleted = 0
            <if test="vipId != null and vipId != ''">
                AND vip_id = #{vipId}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND tenant_id = ${tenantId}
            </if>
            <if test="branchId != null  and branchId != ''">
                AND branch_id = #{branchId}
            </if>
            <if test="orderCode != null and orderCode != ''">
                AND order_code like '%${orderCode}%'
            </if>
            <if test="orderResource != null and orderResource != ''">
                <if test="orderResource == 1">
                    AND (order_resource = #{orderResource} OR order_resource IS NULL)
                </if>
                <if test="orderResource != 1">
                    AND order_resource = #{orderResource}
                </if>
            </if>
            <if test="tableCode != null and tableCode != ''">
                AND table_code like '%${tableCode}%'
            </if>
            <if test="orderPerson != null and orderPerson != ''">
                AND consignee like '%${orderPerson}%'
            </if>
            <if test="orderPhone != null and orderPhone != ''">
                AND mobilePhone like '%${orderPhone}%'
            </if>
            <if test="orderMode != null and orderMode != 'undefined' and orderMode != ''">
                AND order_mode = #{orderMode}
            </if>
            <if test="orderStatus != null and orderStatus != 'undefined' and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="special != null and special != ''">
                AND ((pay_way != 1 AND pay_way != 2) or pay_status != 0 or pay_way is NULL or pay_status is NULL)
            </if>
            <if test="payStatus != null and payStatus != ''">
                AND pay_status = #{payStatus}
            </if>
            <if test="payWay != null and payWay != 'undefined' and payWay != ''">
                AND pay_way = #{payWay}
            </if>
            <if test="startDate != null and startDate != ''">
                AND create_at &gt;= '${startDate}'
            </if>
            <if test="lastUpdateAt != null and lastUpdateAt != ''">
                AND last_update_at >= '${lastUpdateAt}'
            </if>
            <if test="endDate != null and endDate != ''">
                AND create_at &lt;= '${endDate}'
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>
    <select id="select" parameterType="map" resultType="erp.chain.domain.o2o.DietOrderInfo">
        select * from diet_order_info
        <where>
            is_deleted = 0
            <if test="vipId != null and vipId != ''">
                AND vip_id = #{vipId}
            </if>
            <if test="tenantId != null and tenantId != ''">
                AND tenant_id = ${tenantId}
            </if>
            <if test="branchId != null  and branchId != ''">
                AND branch_id = #{branchId}
            </if>
            <if test="orderCode != null and orderCode != ''">
                AND order_code like '%${orderCode}%'
            </if>
            <if test="orderResource != null and orderResource != ''">
                <if test="orderResource == 1">
                    AND (order_resource = #{orderResource} OR order_resource IS NULL)
                </if>
                <if test="orderResource != 1">
                    AND order_resource = #{orderResource}
                </if>
            </if>
            <if test="tableCode != null and tableCode != ''">
                AND table_code like '%${tableCode}%'
            </if>
            <if test="orderPerson != null and orderPerson != ''">
                AND consignee like '%${orderPerson}%'
            </if>
            <if test="orderPhone != null and orderPhone != ''">
                AND mobilePhone like '%${orderPhone}%'
            </if>
            <if test="orderMode != null and orderMode != 'undefined' and orderMode != ''">
                AND order_mode = #{orderMode}
            </if>
            <if test="orderStatus != null and orderStatus != 'undefined' and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="special != null and special != ''">
                AND ((pay_way != 1 AND pay_way != 2 AND pay_way != 4) or pay_status != 0 or pay_way is NULL or pay_status is NULL) AND order_mode != 9 AND order_mode != 10
            </if>
            <if test="payStatus != null and payStatus != ''">
                AND pay_status = #{payStatus}
            </if>
            <if test="payWay != null and payWay != 'undefined' and payWay != ''">
                AND pay_way = #{payWay}
            </if>
            <if test="startDate != null and startDate != ''">
                AND create_at &gt;= '${startDate}'
            </if>
            <if test="lastUpdateAt != null and lastUpdateAt != ''">
                AND last_update_at >= '${lastUpdateAt}'
            </if>
            <if test="endDate != null and endDate != ''">
                AND create_at &lt;= '${endDate}'
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
        order by order_status ASC
        <if test="offset != null and rows != null">
            LIMIT ${offset},${rows}
        </if>
    </select>
    <select id="selectOrderForIncome" parameterType="map" resultType="erp.chain.domain.o2o.DietOrderInfo">
        select din.* from diet_order_info din inner join branch b on b.id=din.branch_id where din.order_mode = 6 and din.income = 0 and (din.order_status=4 or din.order_status = 6) and b.meituan_token!="" order by id desc limit 20000
    </select>
    <select id="countInfo" resultType="Long">
        select count(*) from diet_order_info
        <where>
            is_deleted = 0
            <if test="tenantId != null and tenantId != ''">
                AND tenant_id = ${tenantId}
            </if>
            <if test="branchId != null  and branchId != ''">
                AND branch_id = #{branchId}
            </if>
            <if test="orderCode != null and orderCode != ''">
                AND order_code like '%${orderCode}%'
            </if>
            <if test="orderPerson != null and orderPerson != ''">
                AND consignee like '%${orderPerson}%'
            </if>
            <if test="orderPhone != null and orderPhone != ''">
                AND mobilePhone like '%${orderPhone}%'
            </if>
            <if test="orderMode != null and orderMode != 'undefined' and orderMode != ''">
                AND order_mode = #{orderMode}
            </if>
            <if test="orderResource !=null and orderResource != 'undefined' and orderResource != ''">
                <if test="orderResource==2">
                    AND order_mode=4
                </if>
                <if test="orderResource!=2">
                    AND order_resource=#{orderResource}
                </if>
            </if>
            <if test="orderStatus != null and orderStatus != 'undefined' and orderStatus != ''">
                AND order_status = #{orderStatus}
            </if>
            <if test="payStatus != null and payStatus != ''">
                AND pay_status = #{payStatus}
            </if>
            <if test="payWay != null and payWay != 'undefined' and payWay != ''">
                AND pay_way = #{payWay}
            </if>
            <if test="startDate != null and startDate != ''">
                AND create_at &gt;= '${startDate}'
            </if>
            <if test="endDate != null and endDate != ''">
                AND create_at &lt;= '${endDate}'
            </if>
            <if test="id != null">
                AND id = #{id}
            </if>
        </where>
    </select>
    <select id="findByCondition" resultType="erp.chain.domain.o2o.DietOrderInfo">
        SELECT * FROM diet_order_info WHERE is_deleted=0
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id =${tenantId}
        </if>
        <if test="orderCode != null and orderCode != ''">
            AND order_code =#{orderCode}
        </if>
        <if test="branchId != null and branchId != ''">
            AND branch_id =#{branchId}
        </if>
        <if test="id != null and id != ''">
            AND id =#{id}
        </if>
    </select>

    <select id="findByTenantIdAndBranchIdAndId" resultType="erp.chain.domain.o2o.DietOrderInfo">
        SELECT * FROM diet_order_info
        WHERE tenant_id = ${tenantId}
        AND branch_id = #{branchId}
        AND id = #{id}
        AND is_deleted = 0
        LIMIT 0, 1
    </select>

    <select id="findAllByTenantIdAndBranchIdAndIdInList" resultType="erp.chain.domain.o2o.DietOrderInfo">
        SELECT * FROM diet_order_info
        WHERE tenant_id = ${tenantId}
        AND branch_id = #{branchId}
        AND id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>
    
    <select id="findByTenantIdAndBranchIdAndOrderCode" resultType="erp.chain.domain.o2o.DietOrderInfo">
        SELECT * FROM diet_order_info
        WHERE tenant_id = ${tenantId}
        AND branch_id = #{branchId}
        AND order_code = #{orderCode}
        AND is_deleted = 0
        LIMIT 0, 1
    </select>
</mapper>