<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.chain.mapper.o2o.WechatReplyMapper">
    <select id="getList" resultType="erp.chain.domain.o2o.WxResourceMedia">
        select * from wx_resource_media w where w.is_deleted=0 and w.tenant_id=${tenantId}
        <if test="mediaType != null and mediaType!=''">
            and w.media_type =#{mediaType}
        </if>
        ORDER by id ASC
    </select>
    <select id="getMapList" resultType="mapUnderscoreToCamelCase">
        select wna.*,wrm.url from wx_news_article wna left join wx_resource_media wrm on wna.thumb_media_id=wrm.media_id
        where wna.tenant_id=${tenantId} and wna.is_deleted = 0
        <if test="name != null and name!=''">
            and wna.title like '%${name}%'
        </if>
        order by wna.last_update_at desc
    </select>
    <select id="getWxReplyMessage" resultType="erp.chain.domain.o2o.WxReplyMessage">
        SELECT * FROM wx_reply_message WHERE tenant_id=${tenantId} AND is_deleted=0 AND message_type=#{messageType}
    </select>
    <insert id="replyMessageInsert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into wx_reply_message (id, tenant_id, message_type,
      content, create_by,
      create_at, last_update_by, last_update_at,
      is_deleted
      )
    values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{messageType,jdbcType=BIGINT},
      #{content,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
      #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
      #{isDeleted,jdbcType=BIT}
      )
    </insert>
    <update id="replyMessageUpdate" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update wx_reply_message
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="messageType != null">
                message_type = #{messageType,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null">
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findResourceMediaById" resultType="erp.chain.domain.o2o.WxResourceMedia">
        SELECT * FROM wx_resource_media WHERE tenant_id=${tenantId} AND id=#{mediaId} AND is_deleted=0
    </select>
    <select id="findNewsArticleById" resultType="erp.chain.domain.o2o.WxNewsArticle">
        SELECT * FROM wx_news_article WHERE tenant_id=${tenantId} AND id=#{id} AND is_deleted=0
    </select>

    <insert id="newsArticleInsert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into wx_news_article (id, tenant_id,media_id,title,thumb_media_id,show_cover_pic,
        author,digest,content_source_url,
        content, create_by,
        create_at, last_update_by, last_update_at,
        is_deleted
        )
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{mediaId,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
        #{thumbMediaId,jdbcType=VARCHAR},#{showCoverPic,jdbcType=VARCHAR},#{author,jdbcType=VARCHAR},
        #{digest,jdbcType=VARCHAR},#{contentSourceUrl,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
        #{isDeleted,jdbcType=BIT}
        )
    </insert>
    <update id="newsArticleUpdate" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update wx_news_article
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="mediaId != null">
                media_id = #{mediaId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="thumbMediaId != null">
                thumb_media_id = #{thumbMediaId,jdbcType=VARCHAR},
            </if>
            <if test="showCoverPic != null">
                show_cover_pic = #{showCoverPic,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="digest != null">
                digest = #{digest,jdbcType=VARCHAR},
            </if>
            <if test="contentSourceUrl != null">
                content_source_url = #{contentSourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null">
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getNewArticle" resultType="erp.chain.domain.o2o.WxNewsArticle">
        select * from wx_news_article where is_deleted=0 and tenant_id=${tenantId} and thumb_media_id=#{mediaId}
    </select>
    <insert id="resourceMediaInsert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into wx_resource_media (id, tenant_id,media_id,media_type,url, create_by,
        create_at, last_update_by, last_update_at,
        is_deleted
        )
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{mediaId,jdbcType=VARCHAR},#{mediaType,jdbcType=TINYINT},
        #{url,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
        #{isDeleted,jdbcType=BIT}
        )
    </insert>
    <update id="resourceMediaUpdate" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update wx_resource_media
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="mediaId != null">
                media_id = #{mediaId,jdbcType=VARCHAR},
            </if>
            <if test="mediaType != null">
                media_type = #{mediaType,jdbcType=TINYINT},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null">
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getReplyKeyRuleByRuleName" resultType="erp.chain.domain.o2o.WxReplyKeyRule">
        SELECT * FROM wx_reply_key_rule WHERE tenant_id=${tenantId} AND is_deleted=0 AND rule_name=#{ruleName}
    </select>
    <select id="getReplyKeyRuleById" resultType="erp.chain.domain.o2o.WxReplyKeyRule">
        SELECT * FROM wx_reply_key_rule WHERE tenant_id=${tenantId} AND is_deleted=0 AND id=#{id}
    </select>
    <insert id="replyKeyRuleInsert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into wx_reply_key_rule (id, tenant_id,message_id,rule_name,key_word,content,create_by,
        create_at, last_update_by, last_update_at,
        is_deleted
        )
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT},#{messageId,jdbcType=BIGINT},
        #{ruleName,jdbcType=VARCHAR},#{keyWord,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
        #{isDeleted,jdbcType=BIT}
        )
    </insert>
    <update id="replyKeyRuleUpdate" parameterType="map">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update wx_reply_key_rule
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="messageId != null">
                message_id = #{messageId,jdbcType=BIGINT},
            </if>
            <if test="ruleName != null">
                rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="keyWord != null">
                key_word = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null">
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="getById">
        SELECT * FROM wx_reply_message WHERE tenant_id=${tenantId} AND is_deleted=0 AND id=#{id}
    </select>
    <select id="getKeyRuleList" resultType="erp.chain.domain.o2o.WxReplyKeyRule">
        SELECT * FROM wx_reply_key_rule WHERE tenant_id=${tenantId} AND is_deleted=0
    </select>
    <select id="findNewsArticleByMediaId" resultType="erp.chain.domain.o2o.WxNewsArticle">
        SELECT * FROM wx_news_article WHERE tenant_id=${tenantId} AND is_deleted=0 AND media_id=#{mediaId}
    </select>
</mapper>