<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.chain.mapper.PosMapper">

    <resultMap id="PosMap" type="erp.chain.domain.Pos">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
        <result column="branch_id" property="branchId" jdbcType="BIGINT" />
        <result column="device_code" property="deviceCode" jdbcType="VARCHAR" />
        <result column="pos_code" property="posCode" jdbcType="VARCHAR" />
        <result column="branch_code" property="branchCode" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="memo" property="memo" jdbcType="VARCHAR" />
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="last_update_at" property="lastUpdateAt" jdbcType="TIMESTAMP" />
        <result column="last_update_by" property="lastUpdateBy" jdbcType="VARCHAR" />
        <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
        <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
        <result column="access_token" property="accessToken" jdbcType="VARCHAR" />
        <result column="tenant_code" property="tenantCode" jdbcType="CHAR" />
        <result column="app_name" property="appName" jdbcType="VARCHAR" />
        <result column="app_version" property="appVersion" jdbcType="VARCHAR" />
    </resultMap>

    <select id="find" parameterType="map" resultType="erp.chain.domain.Pos">
      select * from pos
      <where>
        is_deleted = 0
        <if test="id != null">
            and id = #{id}
        </if>
      </where>
    </select>

    <insert id="insertAutoPos" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        insert into pos_auto_info (id,pos_id, tenant_id, branch_id,
        device_code, pos_code, branch_code,
        password, status,
        create_at, create_by, last_update_at,
        last_update_by, is_deleted,
        tenant_code
        )
        values (#{id,jdbcType=BIGINT},#{posId,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{branchId,jdbcType=BIGINT},
        #{deviceCode,jdbcType=VARCHAR}, #{posCode,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
        #{createAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
        #{lastUpdateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT},
        #{tenantCode,jdbcType=CHAR}
        )
    </insert>
    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        insert into pos (id, tenant_id, branch_id,
        device_code, pos_code, branch_code,
        password, status, memo,
        create_at, create_by, last_update_at,
        last_update_by, is_deleted, branch_name,
        access_token, tenant_code, app_name,
        app_version, version, local_id
        )
        values (#{id,jdbcType=BIGINT}, #{tenantId,jdbcType=BIGINT}, #{branchId,jdbcType=BIGINT},
        #{deviceCode,jdbcType=VARCHAR}, #{posCode,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{memo,jdbcType=VARCHAR},
        #{createAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{lastUpdateAt,jdbcType=TIMESTAMP},
        #{lastUpdateBy,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, #{branchName,jdbcType=VARCHAR},
        #{accessToken,jdbcType=VARCHAR}, #{tenantCode,jdbcType=CHAR}, #{appName,jdbcType=VARCHAR},
        #{appVersion,jdbcType=VARCHAR}, #{version,jdbcType=BIGINT}, #{localId,jdbcType=BIGINT}
        )
    </insert>
    <update id="updateAutoPos" parameterType="map">
        update pos_auto_info
        <set >
            <if test="posId != null" >
                pos_id = #{posId,jdbcType=BIGINT},
            </if>
            <if test="tenantId != null" >
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="branchId != null" >
                branch_id = #{branchId,jdbcType=BIGINT},
            </if>
            <if test="deviceCode != null" >
                device_code = #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="posCode != null" >
                pos_code = #{posCode,jdbcType=VARCHAR},
            </if>
            <if test="branchCode != null" >
                branch_code = #{branchCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null" >
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null" >
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="tenantCode != null" >
                tenant_code = #{tenantCode,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="update" parameterType="map" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Nov 04 15:05:01 CST 2016.
        -->
        update pos
        <set >
            <if test="tenantId != null" >
                tenant_id = #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="branchId != null" >
                branch_id = #{branchId,jdbcType=BIGINT},
            </if>
            <if test="deviceCode != null" >
                device_code = #{deviceCode,jdbcType=VARCHAR},
            </if>
            <if test="posCode != null" >
                pos_code = #{posCode,jdbcType=VARCHAR},
            </if>
            <if test="branchCode != null" >
                branch_code = #{branchCode,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="memo != null" >
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null" >
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null" >
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateAt != null" >
                last_update_at = #{lastUpdateAt,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null" >
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=BIT},
            </if>
            <if test="branchName != null" >
                branch_name = #{branchName,jdbcType=VARCHAR},
            </if>
            <if test="accessToken != null" >
                access_token = #{accessToken,jdbcType=VARCHAR},
            </if>
            <if test="tenantCode != null" >
                tenant_code = #{tenantCode,jdbcType=CHAR},
            </if>
            <if test="appName != null" >
                app_name = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="appVersion != null" >
                app_version = #{appVersion,jdbcType=VARCHAR},
            </if>
            <if test="version != null" >
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="localId != null" >
                local_id = #{localId,jdbcType=BIGINT},
            </if>
            <if test="isPullLog != null" >
                is_pull_log = #{isPullLog,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updatePosBranchNameByBranchId">
        UPDATE pos SET branch_name = #{branchName} WHERE branch_id = ${branchId} AND is_deleted = 0
    </update>

    <select id="queryPosList" resultType="mapUnderscoreToCamelCase" >
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND is_deleted=0
        <if test="branchId != null and branchId!=''">
            AND branch_id=${branchId}
        </if>
        <if test="posCode != null and posCode!=''">
            AND pos_code LIKE '%${posCode}%'
        </if>
        <if test="status != null and status!=''">
            AND status=#{status}
        </if>
             LIMIT ${offset},${rows}
    </select>
    <select id="queryPosListSum" resultType="Long">
        SELECT COUNT(1) FROM pos WHERE tenant_id=${tenantId} AND is_deleted=0
        <if test="branchId != null and branchId!=''">
            AND branch_id=${branchId}
        </if>
        <if test="posCode != null and posCode!=''">
            AND pos_code LIKE '%${posCode}%'
        </if>
        <if test="status != null and status!=''">
            AND status=#{status}
        </if>
    </select>
    <select id="queryPosById" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND id=#{id} AND is_deleted=0
    </select>

    <select id="getMaxPosCode" resultType="String">
        select max(p.pos_code) from pos as p where p.tenant_id = ${tenantId}
    </select>
    <select id="findByTenantIdAndBranchIdAndId" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND branch_id=${branchId} AND id=#{posId} AND is_deleted=0
    </select>
    <select id="findByDeviceCode" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE device_code='${deviceCode}' AND is_deleted=0
    </select>
    <delete id="clearSaleData" parameterType="map">
      DELETE FROM sale WHERE tenant_id=${tenantId} AND branch_id=${branchId} AND pos_id=#{posId}
        <if test="beginDate!=null and beginDate!=''">
            AND checkout_at &gt; '${beginDate}'
        </if>
        <if test="endDate!=null and endDate!=''">
            AND checkout_at &lt; '${endDate}'
        </if>
    </delete>
    <delete id="clearSaleDetailData" parameterType="map">
        DELETE sd FROM sale_detail sd inner join sale s on s.sale_code=sd.sale_code and sd.branch_id=s.branch_id and s.tenant_id=sd.tenant_id
        where sd.tenant_id=${tenantId} and sd.branch_id=${branchId} and s.pos_id=#{posId}
        <if test="beginDate!=null and beginDate!=''">
            AND s.checkout_at &gt; '${beginDate}'
        </if>
        <if test="endDate!=null and endDate!=''">
            AND s.checkout_at &lt; '${endDate}'
        </if>
    </delete>
    <delete id="clearSalePaymentData" parameterType="map">
        DELETE FROM sale_payment WHERE tenant_id=${tenantId} AND branch_id=${branchId} AND pos_id=#{posId}
        <if test="beginDate!=null and beginDate!=''">
            AND payment_at &gt; '${beginDate}'
        </if>
        <if test="endDate!=null and endDate!=''">
            AND payment_at &lt; '${endDate}'
        </if>
    </delete>
    <select id="getDeviceCodes" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND is_deleted=0 AND device_code IS NOT NULL AND device_code!=''
    </select>
    <select id="findPosByTenantIdAndDeviceCode" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND branch_id=${branchId} AND is_deleted=0 AND status=1 AND device_code='${deviceCode}' limit 1
    </select>
    <select id="findNoUsedPos" resultType="erp.chain.domain.Pos">
        SELECT * FROM pos WHERE tenant_id=${tenantId} AND branch_id=${branchId} AND is_deleted=0 AND (device_code IS NULL OR device_code='') AND (access_token IS NULL or access_token='') AND (app_name IS NULL or app_name='') AND (app_version IS NULL or app_version='') limit 1
    </select>
    <update id="clearInfo" parameterType="erp.chain.domain.Pos">
        UPDATE pos SET status=1,last_update_at=now(),device_code=NULL,app_version=NULL,access_token=NULL,app_name=NULL
        WHERE is_deleted=0 AND tenant_id=#{tenantId} AND id=#{id}
    </update>


    <select id="findList" resultType="mapUnderscoreToCamelCase" >
        SELECT p.*,b.* FROM pos p
        INNER JOIN branch b ON p.tenant_id = b.tenant_id AND p.branch_id = b.id
        WHERE p.tenant_id=#{tenantId}
        AND p.is_deleted=0
        <if test="pointBranchIds != null and pointBranchIds!=''">
            AND p.branch_id in (${pointBranchIds})
        </if>
        <if test="branchId != null and branchId!=''">
            AND (b.parent_id = #{branchId} OR b.id = #{branchId})
        </if>
        <if test="posCode != null and posCode!=''">
            AND p.pos_code LIKE '%${posCode}%'
        </if>
        <if test="status != null and status!=''">
            AND p.status=#{status}
        </if>
        <if test="order==null and field==null">
            ORDER BY p.id ASC
        </if>
        <if test="order!=null and field!=null">
            ORDER BY p.${field} ${order}
        </if>
        <if test="rows != null and offset !=null" >
            LIMIT ${offset},${rows}
        </if>

    </select>
    <select id="findListSum" resultType="Long">
        SELECT COUNT(1) FROM pos p
        INNER JOIN branch b ON p.tenant_id = b.tenant_id AND p.branch_id = b.id
        WHERE p.tenant_id=#{tenantId}
        AND p.is_deleted=0
        <if test="pointBranchIds != null and pointBranchIds!=''">
            AND p.branch_id in (${pointBranchIds})
        </if>
        <if test="branchId != null and branchId!=''">
            AND (b.parent_id = #{branchId} OR b.id = #{branchId})
        </if>
        <if test="posCode != null and posCode!=''">
            AND p.pos_code LIKE '%${posCode}%'
        </if>
        <if test="status != null and status!=''">
            AND p.status=#{status}
        </if>
        <if test="order==null and field==null">
            ORDER BY p.id ASC
        </if>
    </select>
</mapper>