<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="erp.chain.mapper.online.OnlineTenantConfigMapper">
    <insert id="insert" parameterType="erp.chain.domain.online.OnlineTenantConfig" useGeneratedKeys="true" keyProperty="id">
        ${@erp.chain.utils.DatabaseUtils@generateInsertSql("erp.chain.domain.online.OnlineTenantConfig", "tenant_config")}
    </insert>

    <update id="update" parameterType="erp.chain.domain.online.OnlineTenantConfig">
        ${@erp.chain.utils.DatabaseUtils@generateUpdateSql("erp.chain.domain.online.OnlineTenantConfig", "tenant_config")}
    </update>

    <select id="find" parameterType="erp.chain.utils.SearchModel" resultType="erp.chain.domain.online.OnlineTenantConfig">
        SELECT * FROM tenant_config <include refid="erp.chain.mapper.UniversalMapper.searchConditionSql"></include>
    </select>

    <select id="findAll" parameterType="erp.chain.utils.SearchModel" resultType="erp.chain.domain.online.OnlineTenantConfig">
        SELECT * FROM tenant_config <include refid="erp.chain.mapper.UniversalMapper.searchConditionSql"></include>
    </select>
</mapper>